@font-face {
    font-family: 'Edition';
    src: url('Edition.woff2') format('woff2'),
        url('Edition.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nugo Sans';
    src: url('NugoSans-Light.woff2') format('woff2'),
        url('NugoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

